@import 'reset.css';
html {
  overflow-x: hidden;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 90px;
  background-color: #000;
  color: #67583F;
}
.header .hd-container {
  position: relative;
  margin: 0 auto;
  width: 1340px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .hd-container .nav-btn {
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 90px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.header .hd-container .nav-btn__show .line {
  transform: scale(1) !important;
}
.header .hd-container .nav-btn .line {
  width: 65%;
  height: 1px;
  background: #fff;
  transform: scale(0, 1);
  transition: 222ms;
}
.header .hd-container .nav-btn .line-short {
  margin-top: 12px;
  width: 35%;
}
.header .hd-logo {
  width: 146px;
  height: 30px;
}
.header .hd-navbar {
  width: 678px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 222ms;
}
.header .hd-navbar__hide {
  opacity: 0;
}
.header .hd-menus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}
.header .hd-menus a.menu-item {
  cursor: pointer;
  line-height: 25px;
  transition: 0.2s;
  color: #67583F;
}
.header .hd-menus a.menu-item + .menu-item {
  margin-left: 60px;
}
.header .hd-menus a.menu-item:hover {
  color: #BEA67C;
}
.header .hd-menus a.menu-item__active {
  color: #BEA67C;
}
.header .hd-divider {
  margin: 0 40px;
  width: 1px;
  height: 20px;
  background-color: #BEA67C;
}
.header .hd-language {
  position: relative;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .hd-language__text {
  display: inline-block;
  line-height: 25px;
  border-bottom: 1px solid #67583F;
}
.header .hd-language:hover .hd-dropdown {
  display: block;
}
.header .hd-language .hd-dropdown {
  display: none;
  position: absolute;
  left: -60px;
  top: 90px;
  width: 195px;
  color: #BEA67C;
}
.header .hd-language .hd-dropdown__item {
  padding: 0 20px;
  height: 60px;
  line-height: 60px;
  background: #101010;
}
.header .hd-language .hd-dropdown__item:hover {
  background: #000;
}
.header .hd-language .hd-dropdown__item__active {
  background: #000;
}
.main {
  padding-top: 90px;
}
.banner {
  width: 100%;
  display: block;
  height: auto;
}
